        <div class="schedule">
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Location</th>
                <th>Speaker</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              {% for session in page.schedule %}
                <tr>
                  <td>{{ session.day }}</td>
                  <td>{{ session.time }}</td>
                  <td>{{ session.location }}</td>
                  <td>{{ session.speaker }}</td>
                  <td>{{ session.title }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
